<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>About Me</title>
    <head>
    <body>
    <h1 style="background-color:rgba(255, 124, 0, 0.8);">About Me</h1>
    
    <div id="org-div-home-and-up" style="text-align:right;font-size:70%;white-space:nowrap;">
    <a accesskey="H" href="http://127.0.0.1:5000/"> HOME </a>
    </div>
    
    <p>Hello! As you saw in my pervious page my name is Naiara Munich. I am 
    Argentinian and speak fluent spanish. I am 
    originally from Los Angeles, California but now study chemistry at Barnard 
    College. I graduated from La Canada High school in 2019 and am grateful to 
    be part of Barnard class of 2023! I intend to follow the Barnard chemistry track 
    and hopefully apply for the 4+1 in chemical engineering Barnard has with 
    SEAS. I am part of the fourth cohort of the Sciene Pathwyas Scholar Program 
    where we do research in NYC over the summer. In high school I was an avid 
    potter and reader. Not wanting to lose my touch with ceramics I joined the
    Barnard Clay Collective second semester and enjoyed my time working with 
    clay - albeit for a short time (thanks COVID). I am a huge fantasy nerd and 
    enjoy books such <i>The Mortal Instruments</i>, <i>Throne of Glass</i>, and 
    <i>The Nevernight Chronicles</i>. 
    as </p>
    </body>
</html>

