<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>About Me</title>
    <head>
    <body>
    
    <h1 style="background-color:rgba(255, 124, 0, 0.8);">About Me</h1>
    
    <div id="org-div-home-and-up" style="text-align:right;font-size:70%;white-space:nowrap;">
      <a accesskey="H" href="http://127.0.0.1:5000/"> HOME </a>
    </div>
    
    <div>
      <div>
        <p style="padding-right:50px">
          Hello! As you saw in my pervious page my name is Naiara Munich. I am 
          Argentinian and speak fluent spanish. I am 
          originally from Los Angeles, California but now study chemistry at Barnard 
          College. I graduated from La Canada High school in 2019 and am grateful to 
          be part of Barnard class of 2023! I intend to follow the Barnard chemistry track 
          and hopefully apply for the 4+1 in chemical engineering Barnard has with 
          SEAS. I am part of the fourth cohort of the Sciene Pathwyas Scholar Program
          (sp2) which funds our summer research in NYC. 
        </p>
      </div>
    
      <div>
        <p>In high school I was an avid 
          potter and reader. Not wanting to lose my touch with ceramics I joined the
          Barnard Clay Collective second semester and enjoyed my time working with 
          clay - albeit for a short time (thanks COVID). I am a huge fantasy nerd and 
          enjoy books such as<i>The Mortal Instruments</i>, <i>Throne of Glass</i>, and 
          <i>The Nevernight Chronicles</i>.  
        </p>
      </div>
    
      <table cellspacing="0" cellpadding="6" style="text-align:center;padding-left:80px;">
        <colgroup><col align="left" /><col align="left" />
        </colgroup>
          <tbody>
            <tr><td><img src="/static/littleme.jpeg" alt="Little Naiara" height="300" width="230">
              <p>Enjoying traditional Argentine <i>mate</i></p></td>
            <td><img src="/static/sunset.jpeg" alt="LA Sunset" height="300" width="230">
              <p>Chasing a famous LA sunset last winter</p></td>
            <td><img src="/static/grad.jpeg" alt="Gradutaion" height="200" width="300">
              <p>Graduating high school last June</p></td>
            <td><img src="/static/dani.jpeg" alt="Columbia" height="300" width="230">
              <p>Enjoying sunny Columbia with my roomate</p></td></tr>
   
            <tr><td><img src="/static/sp2.jpeg" alt="SP2" height="300" width="230">
              <p>Can you spot me in this picture with my SP2 cohort?</p></td>
            <td><img src="/static/ceramics.jpeg" alt="Ceramics" height="300" width="230">
              <p>Working on a ceramic zebra</p></td>
            <td><img src="/static/killa.jpg" alt="My dog" height="300" width="250">
              <p>My dog, Killa :)</p></td>
            <td><img src="/static/sisters.jpeg" alt="My sisters" height="300" width="230">
              <p>My sisters :)</p></td></tr>
          </tbody>
      <table>
    </div> 

    </body>
</html>

