<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    
    <h1 style="background-color:rgba(37, 145, 233, 0.7);">Naiara Munich</h1>
    <p>Hello World!</p>
    
    <div id="content">


<div class="menu" style="float: left; padding-right:50px;">
<div class="icon">
    <img src="/static/naiaranyc.jpeg" alt="Naiara Munich" height="300" width="240">
</div>

  <div class="menuitem">
    <a title="About me." href="/aboutme">About me</a>
  </div>

  <div class="menuitem">
    <a title="My Classes." href="/myclasses">My Classes</a>
  </div>
  
 </div>

<div id="maintext">


<table  border="2" cellspacing="0" cellpadding="6" rules="all" frame="all" style="text-align:center" class="center">
<caption></caption>
<colgroup><col align="left" /><col align="left" />
</colgroup>
<tbody>
<tr><td>School:</td><td>Barnard College</td></tr>
<tr><td>Grade:</td><td>First Year</td></tr>
<tr><td>Major:</td><td>Chemistry (4+1 Chemical Engineering - possibly)</td></tr>
</tbody>
</table>


<p>
Hi! My name is Naiara Munich and i'm a first year at Barnard College. <br> This is for
my python class final, hopefully everything works! 
</p>


  <div>
    <p> If you get bored looking at this page here's a link to some books I <br> really 
    enjoyed during quaratine. Enjoy!
    <div>
        <a title="Good Books." href="https://shadowhunters.com/">Books by Cassandra Clare :)</a>
    </div>
    </p>
  </div>

</div>
    
    
    </body>
</html>

