<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>My Classes</title>
    <head>
    <body>
    
    <h1 style="background-color:rgba(160, 113, 231, 0.7);">My Classes</h1>
        
    <div id="org-div-home-and-up" style="text-align:right;font-size:70%;white-space:nowrap;">
      <a accesskey="H" href="http://127.0.0.1:5000/"> HOME </a>
    </div>
    
    <h4>Spring 2020</h4>

    <table  border="2" cellspacing="0" cellpadding="6" rules="all" style="text-align:center" >
      <colgroup><col align="left" /><col align="left" />
      </colgroup>
        <tbody>
          <tr><td><b>Class</b></td><td><b>Professor</b></td></tr>
          <tr><td>First Year Seminar: Hot Stuff</td><td>Sedelia Rodriguez</td></tr>
          <tr><td>Health Coaching</td><td>Lisa Northrop</td></tr>
          <tr><td>Into to Python</td><td>Timothy Paine</td></tr>
          <tr><td>Organic Chemistry-Lecture</td><td>Christian Rojas</td></tr>
          <tr><td>Organic Chemistry-Lab</td><td>Meenakshi Rao</td></tr>
        </tbody>
    </table>

    <div> 
      <h4>Favorite Classes</h4>
    </div>
    
    <div style="padding-right:1050px"> 
      <div><p> My two favorite classes taken at Columbia so far have been <i>Cine y Censura
      en la Espana de Franco</i> (which I took first semester) and <i> Engi1006</i>, 
      both for vastly different reasons.</p></div>
      <div><p>I have taken spanish classes all my life, however, Cine y Censura brought a new 
      approach to the study of the spanish language, which was refreshing after many 
      years of strictly studying grammar and vocabulary.</p></div>
      <div><p>I also chose ENGI1006 as one
      of my favorite classes becayse it was the first coding class  
      where I actually <i>learned</i> how to code. While I did struggle with the
      homeworks, finding the errors in my code and making the system run 
      succesfully was incredibly rewarding.</p></div>
    </div>
    
    </body>
</html>

